 body{
color: white;
background: url('/images/landing.jpg'), rgba(0,0,0,.7);
background-repeat: no-repeat;
background-size:cover;
background-position: center-center;
font-style:italic;
overflow-x: hidden;
background:rgba(0,0,0.0.9);

}