{{#partial "content"}}

    <table>
        <thead>
        <tr>
            <th>API</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>showSpeed</strong></td>

            <td>The speed of the show/reveal</td>
        </tr>
        <tr>
            <td><strong>showEasing</strong></td>

            <td>The easing of the show/reveal</td>
        </tr>

        </tbody>
    </table>


{{/partial}}

{{> layout.hbs}}