{{#partial "content"}}

    <table>
        <thead>
        <tr>
            <th>API</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong><a href="/api/agents">Agents</a></strong></td>
            <td>API for getting all the agents</td>
        </tr>
        <tr>
            <td><strong><a href="/api/selling">Land</a></strong></td>
            <td>API for getting all available Land</td>
        </tr>
        <tr>
            <td><strong><a href="/api/built">Buildings without agents</a></strong></td>
            <td>API for getting all buildings without agents</td>
        </tr>
        <tr>
            <td><strong><a href="/api/agentbuilts">Buildings with agents</a></strong></td>
            <td>API for getting all buildings with agents</td>
        </tr>

        </tbody>
    </table>


{{/partial}}

{{> layout.hbs}}