{{#partial "title"}}



{{/partial}}

{{#partial "content"}}
    <p class="text-white">Welcome to virtual zoo. As a ranger there are options to add a sighting for either a common animal or<br> and endangered animal. In case the animal is not among the ones chosen, <br> please feel free to add one yourself </p>


{{/partial}}
{{>layout.hbs}}
