<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/images/homeicon.png">
    <title>{{#block "title"}}{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/wickedcss.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Aladin%7CBerkshire+Swash%7COleo+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
</head>
<body>
<header>
    <nav>
<!--        <div class="menu-icon">-->
<!--            <i class="fa fa-bars fa-2x"></i>-->
<!--        </div>-->
        <div class="logo">
            <ul>
                <li >
                    <a class="navbar-brand wiggle" href="#"><img src="/images/homeicon.png" width="40px" height="40px" ></a>
                </li>
                <li class="intro"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
{{#block "content"}}

{{/block}}



{{#block "footer"}}

</body>
</html>
{{/block}}