<!DOCTYPE html>

<html>
<head>
    <title>{{#block "title"}}{{/block}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/wickedcss.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

{{#block "content"}}

{{/block}}



{{#block "footer"}}
</body>
</html>
{{/block}}